body {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

p {
  font-size: 1.23rem;
}

.jumbotron{
  /* margin-top: 15px; */
  background-color: #9CC3D5FF;
}


/* Headers */
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  padding-top: 3%;
  padding-bottom: 1%;
}

.headerH1 {

  font-family: 'Courgette', cursive;
  font-size: 3.5rem;
  padding-top: 3%;
  padding-bottom: 1%;
}

h2 {
  font-family: 'Courgette';
  margin-top: 2%;
}


.headingsH2{
  font-family: 'Courgette';
  text-align: center;
  padding-bottom: 2%;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.65rem;
  padding-bottom: 1%;
}

.headerH3 {
  color: #fff;
  font-family: 'Courgette', cursive;
  font-size: 1.65rem;
  padding-bottom: 1%;
}

h4 {
  font-size: 1.23rem;
  padding-bottom: 1%;
  padding-top: 2%;
}

/* Containers */
.container-fluid {
  padding: 3%;
}

li{
  margin: 10px 0;
}

/* Sections */
/* Banner-Section */
.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bannerbg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* Navebar-Section */
.navbar-section{
  background-color: #9CC3D5FF;
  margin-top: 7%;
}

.navbar-nav > li {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.23rem;
}



/* Overview-Section */
.overview-section {
  padding: 0% 10% 2% 10%;
  text-align: left;
}


.overview-text{
  font-size: 1.23rem;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.ov-img{
  padding: 3%;
}

.table-pricing{
  text-align: center;
}

.tableCont{
  text-align: center;
}

.tableFont{
  font-size: 1.23rem
}

.thPrice{
  text-align: right;
  padding-right: 10px;
}


/* Pricing-Section */
.pricing-section{
  padding: 25px 100px 100px 100px;
}

.pricingH2{
  font-size: 2.5rem
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.price-row{
  margin: 2%;
}

.pricing-column {
  padding: 3% 2% 5% 2%;
}

.formbtn{
  padding-bottom: 2%;
}


/* Gallery-Section */
.gallery-section {
  background-color: #0063B2FF;
  margin: 0px 40px;
  padding: 40px 0px 60px;
}



/* Pricing-Section */
.check{
  color: green;
}

.x{
  color: red;
}

/* Amenities-Section */
.amenities-section {
  margin: 5rem;
}

#listHeader {
  background-color: #eeeeee;
}

.list-group-item {
  font-size: 20px;
}


/* Space Activities-Section */
.spacesActivities-section {
  margin: 0rem 5rem 5rem 5rem;
}

.spacesActivities-col{
  padding-bottom: 3%;
}


/* Calendar-Section */
.calendar-section{
padding: 0% 10% 5% 10%;
}


.iframe {
top:0;
left: 0;
width: 100%;
height: 100%;
}


/* Policy-Section */
.policy-section{
  margin-bottom: 5%;
  padding: 5% 10% 0% 10%;
  text-align: left;
}

.p-policy{
  text-align: center;
  padding-top: 2%;
}


/* Map-Section */
.mapouter {
  position: relative;
  text-align: center;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  text-align: center;
}

.iframe {
  padding: 0% 10%;
  width: 100%;
  height: 500px;
}


/* Footer-Sections */
.footer-section {
  margin-top: 5%;
}
